<!doctype html>
<html>
	<head>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	   <!-- <script src="../js/add-post.js" charset="UTF-8"></script> -->
		  <script src="../js/post.js" charset="UTF-8"></script>
	</head>
	<body>
		<h1 style="text-align:center;"> Add Post </h1>
		<hr>
		<div style="margin: 10px">
			<form id="add-post" style="width:100%">
				<label> <strong> Post content </strong> </label>
				<br>
				<textarea rows="10" cols="94" name="comment" form="usrform" id="post_content" required></textarea>
				<br>
				<label> <strong> Image link </strong> </label>
				<br>
				<div class="form-row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Enter image links" id="image_link" onfocus="this.value=''">
			    </div>
			    <div class="col">
			     		<button type="button" class="btn btn-primary" id ="add_link" onclick="getImageLink()">Add Link</button>
			    </div>
			  </div>
				<div>
					<table class="table" id="main-list">
					</table>
				</div>
			</form>
			<hr>
					<button type="button" class="btn btn-primary" id="save_post" onclick="savePost()">Save Post</button>
			</div>
	</body>
</html>
